<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Analyzing real world data-set using SQL and Python


## Objectives

This Python notebook will be used to:

1.  Understand three Chicago datasets  
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to analyze data

## Datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Datasets

This project requires three tables populated with a subset of the whole datasets.

Links to datasets (.CSV files):

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv" target="_blank">Chicago Census Data</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv" target="_blank">Chicago Public Schools</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv" target="_blank">Chicago Crime Data</a>


**NOTE:** For the purpose of this project, it was required to download the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

### Connect to the database

The following required modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [3]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
# !pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
# !pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
# !pip install ipython-sql

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In the next cell enter your db2 connection string using service credentials for your Db2 instance.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [1]:
# SQL magic connection string format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Below is my connection string for Db2 on Cloud database instance without my password.

%sql ibm_db_sa://hxj44087:*password*@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb?security=SSL

UsageError: Line magic function `%sql` not found.

In [8]:
%sql SELECT colname FROM SYSCAT.COLUMNS \
    WHERE TABNAME = 'CHICAGO_PUBLIC_SCHOOLS' \
    ORDER BY colname;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('10th Grade PLAN (2009)',),
 ('10th Grade PLAN (2010)',),
 ('11th Grade Average ACT (2011)',),
 ('9th Grade EXPLORE (2009)',),
 ('9th Grade EXPLORE (2010)',),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_',),
 ('AVERAGE_STUDENT_ATTENDANCE',),
 ('AVERAGE_TEACHER_ATTENDANCE',),
 ('CITY',),
 ('COLLABORATIVE_NAME',),
 ('COLLEGE_ELIGIBILITY__',),
 ('COLLEGE_ENROLLMENT',),
 ('COLLEGE_ENROLLMENT_RATE__',),
 ('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('CPS_PERFORMANCE_POLICY_LEVEL',),
 ('CPS_PERFORMANCE_POLICY_STATUS',),
 ('ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL',),
 ('ENVIRONMENT_ICON',),
 ('ENVIRONMENT_SCORE',),
 ('FAMILY_INVOLVEMENT_ICON',),
 ('FAMILY_INVOLVEMENT_SCORE',),
 ('FRESHMAN_ON_TRACK_RATE__',),
 ('GENERAL_SERVICES_ROUTE',),
 ('GR3_5_GRADE_LEVEL_MATH__',),
 ('GR3_5_GRADE_LEVEL_READ__',),
 ('GR3_5_KEEP_PACE_MATH__',),
 ('GR3_5_KEEP_PACE_READ__',),
 ('GR6_8_GRADE_LEVEL_MATH__',),
 ('GR6_8_GRADE_LEVEL_READ__',),
 ('GR6_8_KEEP_PACE_MATH_',),
 ('GR6_8_KEEP_PACE_READ__',),
 ('GRADUATION_RATE__',),
 ('GR_8_EXPLORE_MATH__',),
 ('GR_8_EXPLORE_READ__',),
 ('HEALTHY_SCHOOL_CERTIFIED',),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE',),
 ('INSTRUCTION_ICON',),
 ('INSTRUCTION_SCORE',),
 ('ISAT_EXCEEDING_MATH__',),
 ('ISAT_EXCEEDING_READING__',),
 ('ISAT_VALUE_ADD_COLOR_MATH',),
 ('ISAT_VALUE_ADD_COLOR_READ',),
 ('ISAT_VALUE_ADD_MATH',),
 ('ISAT_VALUE_ADD_READ',),
 ('LATITUDE',),
 ('LEADERS_ICON',),
 ('LEADERS_SCORE',),
 ('LINK',),
 ('LOCATION',),
 ('LONGITUDE',),
 ('NAME_OF_SCHOOL',),
 ('NETWORK_MANAGER',),
 ('NET_CHANGE_EXPLORE_AND_PLAN',),
 ('NET_CHANGE_PLAN_AND_ACT',),
 ('PARENT_ENGAGEMENT_ICON',),
 ('PARENT_ENGAGEMENT_SCORE',),
 ('PARENT_ENVIRONMENT_ICON',),
 ('PARENT_ENVIRONMENT_SCORE',),
 ('PHONE_NUMBER',),
 ('PK_2_LITERACY__',),
 ('PK_2_MATH__',),
 ('POLICE_DISTRICT',),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_',),
 ('SAFETY_ICON',),
 ('SAFETY_SCORE',),
 ('SCHOOL_ID',),
 ('STATE',),
 ('STREET_ADDRESS',),
 ('STUDENTS_PASSING__ALGEBRA__',),
 ('STUDENTS_TAKING__ALGEBRA__',),
 ('TEACHERS_ICON',),
 ('TEACHERS_SCORE',),
 ('TRACK_SCHEDULE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('Y_COORDINATE',),
 ('ZIP_CODE',)]

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [6]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [9]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA \
    WHERE PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [12]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA \
    WHERE DESCRIPTION like '%MINOR';

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [20]:
%sql SELECT * FROM CHICAGO_CRIME_DATA \
    WHERE PRIMARY_TYPE = 'KIDNAPPING';

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [24]:
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA \
    WHERE LOCATION_DESCRIPTION LIKE 'SCHOOL%';

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

### Problem 6

##### List the average safety score for each type of school.

In [22]:
%sql SELECT ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL, AVG(SAFETY_SCORE) \
    FROM CHICAGO_PUBLIC_SCHOOLS \
    GROUP BY ELEMENTARY__MIDDLE__OR_HIGH_SCHOOL;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [25]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA \
    ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC NULLS LAST\
    LIMIT 5;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

### Problem 8

##### Which community area is most crime prone?

In [37]:
%sql SELECT COMMUNITY_AREA_NAME, COUNT(*) No_of_crimes \
    FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD \
    WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER \
    GROUP BY COMMUNITY_AREA_NAME \
    ORDER BY No_of_crimes DESC \
    LIMIT 1;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Austin', 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [38]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA \
    WHERE HARDSHIP_INDEX = \
        (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [44]:
%sql SELECT COMMUNITY_AREA_NAME, No_of_crimes FROM \
    (SELECT COMMUNITY_AREA_NAME, COUNT(*) No_of_crimes FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD \
    WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER \
    GROUP BY COMMUNITY_AREA_NAME \
    ORDER BY No_of_crimes DESC) \
    LIMIT 1;

 * ibm_db_sa://hxj44087:***@54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32733/bludb
Done.

[('Austin', 43)]